/build
**/build
**/.cxx
**/.externalNativeBuild

/.gradle
/gradlew*

/.idea/caches
/.idea/workspace.xml
/.kotlin
**.iml

**/_*
**/*.aab
**/*.apk
**/*.zip
**/*.jar
**/*.webm

/release
/premium

/dist/releases/*.apk
/dist/releases/*.aab
/dist/log
/dist/keystore
/dist/keystore-upload

/captures
/grammarscope-deps
/archive

app_grammarscope_syntaxnet/src/main/res/values/strings_license-nontranslatable.xml
app_grammarscope_udpipe/src/main/res/values/strings_license-nontranslatable.xml
app_mysyntaxnet/src/main/res/values/strings_license-nontranslatable.xml

**/keystore.properties
**/keystore_upload.properties
**/androidpublisher.dat
**/client_secrets.json

