<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="org.grammarscope.Application"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/MyTheme" >

		<activity
			android:name="org.grammarscope.DependencyParseActivity"
			android:configChanges="uiMode" />

		<activity
			android:name="org.grammarscope.SemanticParseActivity"
			android:configChanges="uiMode" />

		<activity
			android:name="org.grammarscope.DependencyGraphParseActivity"
			android:configChanges="uiMode"
			android:hardwareAccelerated="true" />

		<activity
			android:name="org.grammarscope.DependencyGraphsParseActivity"
			android:configChanges="uiMode"
			android:hardwareAccelerated="true" />

		<activity
			android:name="org.grammarscope.SemanticGraphParseActivity"
			android:configChanges="uiMode"
			android:hardwareAccelerated="true" />

		<activity
			android:name="org.grammarscope.SemanticGraphsParseActivity"
			android:configChanges="uiMode"
			android:hardwareAccelerated="true" />

		<activity
			android:name="org.grammarscope.ShareActivity"
			android:exported="true"
			android:label="@string/title_activity_share"
			android:launchMode="singleTop"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>

		<activity android:name="org.grammarscope.LabelsActivity" />

		<activity android:name="org.grammarscope.SettingsActivity" />

		<activity android:name="org.grammarscope.DependencySettingsActivity" />

		<activity android:name="org.grammarscope.SemanticSettingsActivity" />

		<activity android:name="org.depparse.common.AboutActivity" />

		<activity
			android:name="org.depparse.common.WebActivity"
			android:label="@string/title_activity_web" />

		<activity android:name="com.bbou.others.OthersActivity" />

		<activity android:name="com.bbou.donate.DonateActivity" />

		<activity android:name="com.bbou.download.coroutines.DownloadActivity" />

		<activity android:name="com.bbou.download.UpdateActivity" />

		<!--
		<receiver
			android:name="org.grammarscope.ProviderManager">
			<intent-filter>
				<action android:name="org.grammmarscope.provider.ACTION"/>
			</intent-filter>
		</receiver>
		-->

	</application>

</manifest>